.page-index {

    header {
        background: url(../images/casal.webp);
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;  

        
        @media screen and (max-width: 768px) {
            background-color: #2C2141;
            background-image:  url(../images/bg-header-mobile.webp);
            background-size: contain;
            background-position: top;
            
        }
    }
    
    .text-left {
        position: absolute;
        left: 139px;
        top: 55px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 86px;
        text-align: center;
        color: #2C2141;

    }

    .texto-titulo1 {
        font-size: 200%;
    }

    .texto-titulo2 {
        font-size: 130%;

    }
    .title-mob {
      margin-left: 60px;
    }
    .video-mob {
      border-radius: 20px !important;
      
    }
        
    .btn {
        font-size: 0.9rem;
        font-weight: normal;
        background: #3e2d5f;
        border-radius: 5px;
        padding: 10px 90px !important;
        color: #fff;
    }    
    .btn-mob {
      font-size: 0.9rem;
      font-weight: normal;
      background: #0acc6f;
      border-radius: 5px;
      padding: 10px 90px !important;
      color: #fff;    
        
    }
    .btn2 {
      font-size: 0.8rem;
      font-weight: bold;
      background: #0acc6f;
      border-radius: 5px;
      padding: 15px 50px !important;
      color: #fff;
      text-decoration: none;
      
  }

    #section-1 {
        background: linear-gradient(180deg, #2C2141 43.39%, #3E2D5F 100%);
    
        .text-testemunho {
            font-family: Playfair Display;
            color: #ED839A;
            
        }

        .testemony-card {
          position: relative;
          background: #3F2F60;
          border-radius: 17.7829px;
          padding: 25px 20px;
          color: #fff;
          line-height: normal;
          
          &::after { 
            content: " ";
            width: 0; 
            height: 0; 
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 40px solid #3F2F60;
            border-radius: 5px;
    
            position: absolute;
            top: 110%;
            left: 50%;
            transform: translate(-50%, -110%);
          }
        }
      }

      #section-2 {
        background-image: url(../images/bg-section-2.webp);
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
        
        @media screen and (max-width: 768px) {
          background-image: url(../images/bg-section-2-mobile.webp);
        }

        .font-playfair {
          font-family: 'Playfair Display';
        }
    
        .cartao-rosa {
          background: #DB8495;
          border-radius: 8px;
          padding: 20px;
          width: fit-content;
          
          @media screen and (max-width: 991px) {
            width: 100%;
            margin-bottom: 4rem;
          }
    
          img {
            margin-top: -15%;
            box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
          }
        }
        .cartao-azul {
            background: #3f2f60;
            border-radius: 8px;
            padding: 15px;
            width: 340px;
            line-height: normal;

            @media screen and (max-width: 991px) {
              width: 90%;
              margin-bottom: 4rem;
            }
      
            img {
              margin-top: -15%;
              box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
              border-radius: 8px;
            }
        }
      }
        #card-centro {
          background: #3f2f60;
          border-radius: 8px;
          padding: 15px;
          width: 340px;
          height: 550px;
          line-height: normal;

          @media screen and (max-width: 991px) {
            width: 100%;
            margin-bottom: 4rem;
          }
    
          img {
            margin-top: -15%;
            box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
          }
        }
        #ultimo-card {
          background: #3f2f60;
          border-radius: 8px;
          padding: 15px;
          width: 340px;
          height: 450px;
          line-height: normal;

          @media screen and (max-width: 991px) {
            width: 100%;
            margin-bottom: 4rem;
          }
    
          img {
            margin-top: -15%;
            box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
          }
        }  
      

        #section-3 {
          .card {
            background: #FFFFFF;
            box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
            border-radius: 8px;
            border: none;
            padding: 30px 20px;
      
            width: 100%;
            height: 383px;
    
          .text-red {
            color: #BD4C72;
          }
    
          p {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    
      #section-4 {
        background-image: url(../images/bg-section-5.webp);
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
        
        @media screen and (max-width: 768px) {
          background-image: url(../images/bg-section-5.webp);
        }
    
        h1 {
          font-size: 62px;
          @media screen and (max-width: 768px) {
            font-size: 42px;
          }
          .small {
            font-size: 60%;
          }
        }
      }
      
      .price {
          font-size: 35px;
          font-family: 'Roboto',sans-serif;
      }
      .title5 {
        font-size: 30px;
        font-weight: normal;
    }

      #section-5 {
          background-image: url(../images/Vector1.png);
          background-size: cover;
          background-position-x: center;
          background-position-y: top;
          background-repeat: no-repeat;
          padding: 190px;
          
          @media screen and (max-width: 768px) {
            background-image: url(../images/Vector1-mob.png);
          }

      }


      #section-5-mob {
        background-image: url(../images/Vector1.png);
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
        
        
        @media screen and (max-width: 768px) {
          background-image: url(../images/Vector1-mob.png);
        }

    }
      .cor-footer {
        background-color: #3E2D5F;
      }
}